Set-**1**

1. Write a program to find the sum of all numbers from 1 to N.

In [ ]:
n = int(input("Enter a number: "))
sum = 0
for i in range(1, n+1):
    sum += i
print("The sum of all numbers from 1 to", n, "is:", sum)

Enter a number: 50
The sum of all numbers from 1 to 50 is: 1275



2. Given a list of integers, find the maximum and minimum elements.

In [ ]:
lst = [5, 10, 2, 8, 3]
max_num = lst[0]
min_num = lst[0]
for num in lst:
    if num > max_num:
        max_num = num
    if num < min_num:
        min_num = num
print("The maximum element is:", max_num)
print("The minimum element is:", min_num)

The maximum element is: 10
The minimum element is: 2



3. Write a program to check if a given number is prime.

In [ ]:
num = int(input("Enter a number: "))
if num > 1:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 25
25 is not a prime number



4. Find the factorial of a given number.

In [ ]:
def factorial(num):
    if num == 0:
        return 1
    else:
        return num * factorial(num - 1)

# example usage
print(factorial(6))

720

5. Count the number of vowels in a string.

In [ ]:
def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count

# example usage
print(count_vowels("Hello World"))

3


6. Check if a given string is a palindrome.

In [ ]:
def is_palindrome(string):
    return string == string[::-1]

# example usage
print(is_palindrome("racecar"))

True



7. Reverse a given list of integers.

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.reverse()
print(lst)

[5, 4, 3, 2, 1]


8. Find the second largest element in a list of integers.

In [ ]:
def second_largest(lst):
    lst.sort(reverse=True)
    return lst[1]

# example usage
print(second_largest([1, 5, 2, 9, 6]))

6



9. Write a program to remove duplicates from a list.

In [ ]:
def remove_duplicates(lst):
    return list(set(lst))

# example usage
print(remove_duplicates([1, 2, 2, 3, 4, 4, 5]))

[1, 2, 3, 4, 5]



10. Given a list of integers, find the average.

In [ ]:
def average(lst):
    return sum(lst) / len(lst)

# example usage
print(average([1, 2, 3, 4, 5]))

3.0

11. Check if the two lists are equal.

In [ ]:
def are_lists_equal(lst1, lst2):
    return lst1 == lst2

# example usage
print(are_lists_equal([1, 2, 3], [1, 2, 3]))
print(are_lists_equal([1, 2, 3], [3, 2, 1]))

True
False



12. Find the intersection of two lists.

In [ ]:
def find_intersection(lst1, lst2):
    set1 = set(lst1)
    set2 = set(lst2)
    return list(set1.intersection(set2))

# example usage
print(find_intersection([1, 2, 3], [2, 3, 4]))

[2, 3]


13. Given a list of integers, remove all the even numbers.

In [ ]:
def remove_even(lst):
    return [x for x in lst if x % 2 != 0]

# example usage
print(remove_even([1, 2, 3, 4, 5, 6]))

[1, 3, 5]



14. Given a list of strings, concatenate them into a single string.

In [ ]:
def concatenate_strings(lst):
    return ''.join(lst)

# example usage
print(concatenate_strings(['hello', 'world']))

helloworld



15. Find the number of occurrences of a specific element in a list.

In [ ]:
def count_occurrences(lst, x):
    return lst.count(x)

# example usage
print(count_occurrences([1, 2, 3, 2, 4, 2], 2))

3

16. Remove the duplicates from a string.

In [ ]:
def remove_duplicates(s):
    return ''.join(set(s))

# example usage
print(remove_duplicates('MasumUtsso'))

uomaMUst



17. Count the number of words in a sentence.

.

In [ ]:
def count_words(s):
    return len(s.split())

# example usage
print(count_words('This is a sentence.'))

4



18. Write a program to check if a given string is a pangram.

In [ ]:
import string

def is_pangram(s):
    alphabet = set(string.ascii_lowercase)
    return set(s.lower()) >= alphabet

# example usage
print(is_pangram('The quick brown fox jumps over the lazy dog'))

True

19. Calculate the sum of digits in a number.

In [ ]:
def sum_of_digits(n):
    return sum(int(digit) for digit in str(n))

# example usage
print(sum_of_digits(12345))

15


20. Given a list of integers, find the product of all the elements.

In [ ]:
def product_of_elements(lst):
    product = 1
    for num in lst:
        product *= num
    return product

# example usage
print(product_of_elements([1, 2, 3, 4, 5]))

120



21. Check if a given number is a perfect square.

In [ ]:
import math

def is_perfect_square(n):
    root = math.sqrt(n)
    return root == int(root)

# example usage
print(is_perfect_square(16))

True



22. Find the length of the longest word in a sentence.

In [ ]:
def longest_word_length(s):
    words = s.split()
    max_length = 0
    for word in words:
        if len(word) > max_length:
            max_length = len(word)
    return max_length

# example usage
print(longest_word_length('The quick brown fox jumps over the lazy dog'))

5



23. Calculate the average of all the even numbers in a list.

In [ ]:
def average_of_even_numbers(lst):
    count = 0
    total = 0
    for num in lst:
        if num % 2 == 0:
            count += 1
            total += num
    if count == 0:
        return 0
    else:
        return total / count

# example usage
print(average_of_even_numbers([1, 2, 3, 4, 5]))

3.0



24. Given a list of integers, find the median.

In [ ]:
def median(lst):
    sorted_lst = sorted(lst)
    n = len(sorted_lst)
    if n % 2 == 0:
        return (sorted_lst[n//2-1] + sorted_lst[n//2]) / 2
    else:
        return sorted_lst[n//2]

# example usage
print(median([1, 2, 3, 4, 5]))

3



25. Check if a given string is an anagram of another string.

In [ ]:
def is_anagram(s1, s2):
    if len(s1) != len(s2):
        return False
    sorted_s1 = sorted(s1)
    sorted_s2 = sorted(s2)
    for i in range(len(s1)):
        if sorted_s1[i] != sorted_s2[i]:
            return False
    return True

# example usage
print(is_anagram('listen', 'silent'))

True

26. Write a program to reverse a string.

In [ ]:
def reverse_string(s):
    return s[::-1]

# example usage
print(reverse_string('hello'))

olleh


27. Find the sum of all the even numbers between two given numbers.

In [ ]:
def sum_of_even_numbers(a, b):
    total = 0
    for num in range(a, b+1):
        if num % 2 == 0:
            total += num
    return total

# example usage
print(sum_of_even_numbers(1, 10))

30



28. Given a list of strings, find the longest string.

In [ ]:
def longest_string(lst):
    return max(lst, key=len)

# example usage
print(longest_string(['hello', 'world', 'python']))

python



29. Remove all the special characters from a string.

In [ ]:
def remove_special_characters(s):
    return ''.join(c for c in s if c.isalnum())

# example usage
print(remove_special_characters('hello!@#$%123'))

hello123



30. Calculate the power of a number.

In [ ]:
# using the ** operator
def power(base, exponent):
    return base ** exponent

# using the pow() function
def power(base, exponent):
    return pow(base, exponent)

# example usage
print(power(2, 3))

8



31. Check if a given number is a palindrome.

In [ ]:
def is_palindrome(num):
    return str(num) == str(num)[::-1]

# example usage
print(is_palindrome(121))

True



32. Given a list of integers, find the second smallest element.

In [ ]:
def second_smallest(lst):
    sorted_lst = sorted(lst)
    return sorted_lst[1]

# example usage
print(second_smallest([3, 1, 4, 2, 5]))

2



33. Remove the vowels from a string.

In [ ]:
def remove_vowels(s):
    vowels = 'aeiouAEIOU'
    return ''.join(c for c in s if c not in vowels)

# example usage
print(remove_vowels('hello world'))

hll wrld

34. Given a list of strings, find the number of words in each string.

In [ ]:
def count_words(lst):
    return [len(s.split()) for s in lst]

# example usage
print(count_words(['hello world', 'how are you', 'python is awesome']))

[2, 3, 3]



35. Sort a list of integers in ascending order.

In [ ]:
lst = [3, 1, 4, 2, 5]

# using sorted() function
sorted_lst = sorted(lst)
print(sorted_lst) # output: [1, 2, 3, 4, 5]

# using sort() method
lst.sort()
print(lst)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]



36. Check if all elements in a list are unique.

In [ ]:
def is_unique(lst):
    return len(lst) == len(set(lst))

# example usage
print(is_unique([1, 2, 3, 4, 5]))
print(is_unique([1, 2, 3, 4, 4]))

True
False



37. Given a list of tuples, sort them based on the second element.

In [ ]:
lst = [(1, 3), (2, 1), (3, 4), (4, 2)]

# using sorted() function
sorted_lst = sorted(lst, key=lambda x: x[1])
print(sorted_lst) # output: [(2, 1), (4, 2), (1, 3), (3, 4)]

# using sort() method
lst.sort(key=lambda x: x[1])
print(lst) # output: [(2, 1), (4, 2), (1, 3), (3, 4)]

[(2, 1), (4, 2), (1, 3), (3, 4)]
[(2, 1), (4, 2), (1, 3), (3, 4)]



38. Remove the duplicates from a list of tuples.

In [ ]:
lst = [(1, 2), (3, 4), (1, 2), (5, 6)]

unique_lst = list(set(lst))
print(unique_lst)

[(1, 2), (3, 4), (5, 6)]



39. Find the most frequent element in a list.

In [ ]:
lst = [1, 2, 3, 4, 2, 3, 2, 4, 4, 4]

most_frequent = max(set(lst), key=lambda x: lst.count(x))
print(most_frequent)

4



40. Given two lists, find their common elements.

In [ ]:
lst1 = [1, 2, 3, 4, 5]
lst2 = [4, 5, 6, 7, 8]

common_elements = set(lst1).intersection(lst2)
print(common_elements)

{4, 5}



41. Calculate the sum of all the odd numbers between two given numbers.

In [ ]:
start = 1
end = 10

sum_odd = 0
for i in range(start, end+1):
    if i % 2 != 0:
        sum_odd += i

print(sum_odd)

25



42. Check if a given string is a valid email address.

In [ ]:
import re

def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return re.match(pattern, email) is not None

email1 = 'example@mail.com'
email2 = 'example.mail.com'
email3 = 'example@mail'

print(is_valid_email(email1)) # output: True
print(is_valid_email(email2)) # output: False
print(is_valid_email(email3)) # output: False

True
False
False

43. Find the number of words starting with a specific letter in a sentence.

In [ ]:
sentence = 'The quick brown fox jumps over the lazy dog'
letter = 't'

count = 0
for word in sentence.split():
    if word.startswith(letter):
        count += 1

print(count)

1



44. Given a list of integers, find the third largest element.

In [ ]:
lst = [10, 5, 8, 20, 9]

third_largest = sorted(lst, reverse=True)[2]
print(third_largest)

9



45. Check if a given list is sorted in non-decreasing order.

In [ ]:
def is_sorted(lst):
    for i in range(len(lst)-1):
        if lst[i] > lst[i+1]:
            return False
    return True

lst1 = [1, 2, 3, 4, 5]
lst2 = [1, 3, 2, 4, 5]

print(is_sorted(lst1)) # output: True
print(is_sorted(lst2)) # output: False

True
False



46. Find the number of prime numbers in a given range.

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

def count_primes(start, end):
    count = 0
    for n in range(start, end+1):
        if is_prime(n):
            count += 1
    return count

start = 1
end = 20

print(count_primes(start, end))

8



47. Given a list of tuples, convert it into a dictionary.

In [ ]:
lst = [('a', 1), ('b', 2), ('c', 3)]

dict = {key: value for (key, value) in lst}

print(dict)

{'a': 1, 'b': 2, 'c': 3}



48. Check if a given string is a palindrome ignoring spaces.

In [ ]:
def is_palindrome(s):
    s = s.replace(' ', '')
    return s == s[::-1]

s1 = 'race car'
s2 = 'hello world'

print(is_palindrome(s1))
print(is_palindrome(s2))

True
False



49. Given a string, count the number of uppercase and lowercase letters.

In [ ]:
def count_case(s):
    upper_count = 0
    lower_count = 0
    for c in s:
        if c.isupper():
            upper_count += 1
        elif c.islower():
            lower_count += 1
    return (upper_count, lower_count)

s = 'Hello World'

print(count_case(s))

(2, 8)



50. Write a program to remove duplicate characters from a string.

In [ ]:
def remove_duplicates(s):
    new_s = ''
    for c in s:
        if c not in new_s:
            new_s += c
    return new_s

s = 'hello world'

print(remove_duplicates(s))

helo wrd

**Set-2**

1. Write a function that takes two numbers as input and returns their sum.

In [ ]:
def calculate_sum(a, b):
    return a + b

# Take user input for the two numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Calculate the sum of the two numbers
result = calculate_sum(num1, num2)
print("The sum is:", result)

The sum is: 26.2



2. Write a function to calculate the factorial of a given number.

In [10]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)


result = factorial(5)
print(result)

120



3. Write a function to check if a given number is prime or not.

.

In [11]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True
result = is_prime(17)
print(result)

True



4. Write a function that takes a string as input and returns the reverse of the string.

In [12]:
def reverse_string(s):
    return s[::-1]
result = reverse_string("Hello, World!")
print(result)

!dlroW ,olleH



5. Write a function that takes a list of numbers as input and returns the largest number in the list.

In [13]:
def find_largest(numbers):
    largest = numbers[0]
    for num in numbers:
        if num > largest:
            largest = num
    return largest
result = find_largest([3, 7, 2, 9, 1])
print(result)

9


6. Write a function that takes a list of strings as input and returns the shortest string in the list.

In [15]:
def find_shortest(strings):
    shortest = strings[0]
    for string in strings:
        if len(string) < len(shortest):
            shortest = string
    return shortest
result = find_shortest(["apple", "banana", "pear", "grape"])
print(result)

pear


7. Write a function to count the number of vowels in a given string.

In [16]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count
result = count_vowels("Hello, World!")
print(result)

3


8. Write a function that takes a list of numbers as input and returns a new list with only the even numbers.

In [17]:
def filter_even(numbers):
    even_numbers = []
    for num in numbers:
        if num % 2 == 0:
            even_numbers.append(num)
    return even_numbers
result = filter_even([3, 7, 2, 9, 1, 6])
print(result)

[2, 6]


9. Write a function to check if a given string is a palindrome.

In [18]:
def is_palindrome(s):
    s = s.lower()
    reversed_s = s[::-1]
    return s == reversed_s
result = is_palindrome("racecar")
print(result)

True


10. Write a function that takes a list of strings as input and returns a new list with the strings sorted in alphabetical order.

In [19]:
def sort_strings(strings):
    sorted_strings = sorted(strings)
    return sorted_strings
result = sort_strings(["banana", "apple", "pear", "grape"])
print(result)

['apple', 'banana', 'grape', 'pear']

11. Write a function to calculate the area of a circle given its radius.

In [20]:
import math

def calculate_area(radius):
    area = math.pi * radius ** 2
    return area
result = calculate_area(5)
print(result)

78.53981633974483


12. Write a function to calculate the Fibonacci series up to a given number.

In [21]:
def fibonacci_series(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    else:
        fib = [0, 1]
        for i in range(2, n):
            fib.append(fib[i-1] + fib[i-2])
        return fib
result = fibonacci_series(10)
print(result)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]


13. Write a function that takes a list of numbers as input and returns the sum of all the numbers.

In [22]:
def calculate_sum(numbers):
    total = sum(numbers)
    return total
result = calculate_sum([1, 2, 3, 4, 5])
print(result)

15


14. Write a function to find the maximum occurring character in a given string.

In [23]:
def find_max_occuring_char(string):
    char_count = {}
    for char in string:
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1
    max_count = 0
    max_char = ''
    for char, count in char_count.items():
        if count > max_count:
            max_count = count
            max_char = char
    return max_char
result = find_max_occuring_char("hello world")
print(result)

l


15. Write a function that takes a list of numbers as input and returns the product of all the numbers.

In [24]:
from functools import reduce

def calculate_product(numbers):
    product = reduce((lambda x, y: x * y), numbers)
    return product
result = calculate_product([1, 2, 3, 4, 5])
print(result)

120


16. Write a function to check if two strings are anagrams of each other.

In [25]:
def check_anagram(string1, string2):
    if sorted(string1) == sorted(string2):
        return True
    else:
        return False
result = check_anagram("listen", "silent")
print(result)

True


17. Write a function that takes a list of numbers as input and returns the second smallest number in the list.

In [27]:
def find_second_smallest(numbers):
    unique_numbers = list(set(numbers))
    unique_numbers.sort()
    if len(unique_numbers) < 2:
        return None
    else:
        return unique_numbers[1]

result = find_second_smallest([1, 2, 3, 4, 5])
print(result)

2

In [3]:
def find_second_smallest(numbers):

    unique_numbers = sorted(set(numbers))
    if len(unique_numbers) < 2:
        return None
    return unique_numbers[1]

user_input = input("Enter a list of numbers separated by spaces: ")
numbers = list(map(float, user_input.split()))
second_smallest = find_second_smallest(numbers)

if second_smallest is None:
    print("There is no second smallest number in the list.")
else:
    print("The second smallest number is:", second_smallest)

Enter a list of numbers separated by spaces: 3 5 67 43 54
The second smallest number is: 5.0


18. Write a function to reverse the order of words in a given sentence.

In [29]:
def reverse_sentence(sentence):
    words = sentence.split()
    words.reverse()
    reversed_sentence = " ".join(words)
    return reversed_sentence
result = reverse_sentence("Hello world")
print(result)

world Hello

19. Write a function to check if a given number is a perfect square.

In [30]:
def is_perfect_square(number):
    square_root = int(number ** 0.5)
    if square_root ** 2 == number:
        return True
    else:
        return False
result = is_perfect_square(16)
print(result)

True


20. Write a function that takes a list of strings as input and returns the count of words in the list.

In [31]:
def count_words_in_list(strings):
    word_count = 0
    for string in strings:
        words = string.split()
        word_count += len(words)
    return word_count
result = count_words_in_list(["Hello world", "Python is awesome"])
print(result)

5


21. Write a function to remove all duplicates from a given list.

In [32]:
def remove_duplicates(numbers):
    unique_numbers = list(set(numbers))
    return unique_numbers
result = remove_duplicates([1, 2, 2, 3, 3, 3, 4, 4, 4, 4])
print(result)

[1, 2, 3, 4]


22. Write a function to find the second largest number in a given list.

In [33]:
def find_second_largest(numbers):
    unique_numbers = list(set(numbers))
    unique_numbers.sort()
    if len(unique_numbers) < 2:
        return None
    else:
        return unique_numbers[-2]
result = find_second_largest([1, 2, 3, 4, 5])
print(result)

4


22. Write a function to find the second largest number in a given list.

In [34]:
def find_second_largest(numbers):
    largest = None
    second_largest = None
    for number in numbers:
        if largest is None or number > largest:
            second_largest = largest
            largest = number
        elif second_largest is None or number > second_largest:
            second_largest = number
    return second_largest
result = find_second_largest([1, 2, 3, 4, 5])
print(result)

4


23. Write a function that takes a list of strings as input and returns the longest string in the list.

In [35]:
def find_longest_string(strings):
    longest_string = ""
    for string in strings:
        if len(string) > len(longest_string):
            longest_string = string
    return longest_string
result = find_longest_string(["Hello", "world", "Python", "is", "awesome"])
print(result)

awesome

24. Write a function to find the GCD (Greatest Common Divisor) of two numbers.

In [36]:
def find_gcd(a, b):
    if b == 0:
        return a
    else:
        return find_gcd(b, a % b)
result = find_gcd(24, 36)
print(result)

12


25. Write a function that takes a string as input and counts the frequency of each character.

In [38]:
def count_characters(string):
    frequency = {}
    for char in string:
        if char in frequency:
            frequency[char] += 1
        else:
            frequency[char] = 1
    return frequency
result = count_characters("Hello, world!")
print(result)

{'H': 1, 'e': 1, 'l': 3, 'o': 2, ',': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1, '!': 1}